In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [ ]:
dataset = pd.read_excel('HargaArwana.xlsx')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values

In [ ]:
dataset.keys()

Index(['Umur Ikan Arwana', 'HargaJual'], dtype='object')

In [ ]:
dataset.shape

(999, 2)

In [ ]:
dataku = pd.DataFrame(dataset)
dataku.head()

   Umur Ikan Arwana  HargaJual
0                 2       5200
1                 2       5210
2                 2       5220
3                 2       5230
4                 2       5240

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = regressor.predict(x_test)

In [ ]:
y_pred

array([9854.86215508, 2232.52851728, 9854.86215508, 9854.86215508,
       9854.86215508, 7314.08427582, 7314.08427582, 7314.08427582,
       2232.52851728, 7314.08427582, 9854.86215508, 4773.30639655,
       7314.08427582, 9854.86215508, 9854.86215508, 9854.86215508,
       7314.08427582, 7314.08427582, 4773.30639655, 9854.86215508,
       9854.86215508, 7314.08427582, 2232.52851728, 9854.86215508,
       4773.30639655, 4773.30639655, 2232.52851728, 4773.30639655,
       7314.08427582, 9854.86215508, 9854.86215508, 4773.30639655,
       7314.08427582, 7314.08427582, 9854.86215508, 9854.86215508,
       2232.52851728, 9854.86215508, 4773.30639655, 4773.30639655,
       9854.86215508, 7314.08427582, 9854.86215508, 2232.52851728,
       4773.30639655, 9854.86215508, 9854.86215508, 9854.86215508,
       7314.08427582, 9854.86215508, 7314.08427582, 9854.86215508,
       7314.08427582, 4773.30639655, 9854.86215508, 7314.08427582,
       7314.08427582, 4773.30639655, 9854.86215508, 7314.08427582,
       9854.86215508, 9854.86215508, 4773.30639655, 9854.86215508,
       9854.86215508, 9854.86215508, 7314.08427582, 9854.86215508,
       7314.08427582, 9854.86215508, 7314.08427582, 7314.08427582,
       9854.86215508, 7314.08427582, 9854.86215508, 7314.08427582,
       9854.86215508, 7314.08427582, 9854.86215508, 4773.30639655,
       9854.86215508, 4773.30639655, 9854.86215508, 4773.30639655,
       7314.08427582, 7314.08427582, 7314.08427582, 7314.08427582,
       4773.30639655, 9854.86215508, 9854.86215508, 9854.86215508,
       7314.08427582, 7314.08427582, 4773.30639655, 9854.86215508,
       9854.86215508, 7314.08427582, 7314.08427582, 2232.52851728,
       4773.30639655, 7314.08427582, 9854.86215508, 9854.86215508,
       9854.86215508, 7314.08427582, 4773.30639655, 4773.30639655,
       7314.08427582, 7314.08427582, 4773.30639655, 4773.30639655,
       9854.86215508, 7314.08427582, 4773.30639655, 9854.86215508,
       4773.30639655, 9854.86215508, 9854.86215508, 7314.08427582,
       2232.52851728, 9854.86215508, 9854.86215508, 9854.86215508,
       4773.30639655, 9854.86215508, 4773.30639655, 7314.08427582,
       9854.86215508, 7314.08427582, 9854.86215508, 9854.86215508,
       9854.86215508, 4773.30639655, 2232.52851728, 9854.86215508,
       9854.86215508, 4773.30639655, 9854.86215508, 4773.30639655,
       7314.08427582, 7314.08427582, 7314.08427582, 7314.08427582,
       7314.08427582, 2232.52851728, 2232.52851728, 4773.30639655,
       2232.52851728, 7314.08427582, 9854.86215508, 9854.86215508,
       9854.86215508, 7314.08427582, 9854.86215508, 7314.08427582,
       9854.86215508, 7314.08427582, 9854.86215508, 9854.86215508,
       9854.86215508, 7314.08427582, 4773.30639655, 7314.08427582,
       9854.86215508, 4773.30639655, 7314.08427582, 9854.86215508,
       4773.30639655, 4773.30639655, 4773.30639655, 9854.86215508,
       7314.08427582, 4773.30639655, 7314.08427582, 4773.30639655,
       9854.86215508, 7314.08427582, 7314.08427582, 4773.30639655,
       4773.30639655, 9854.86215508, 9854.86215508, 4773.30639655,
       7314.08427582, 4773.30639655, 9854.86215508, 7314.08427582,
       9854.86215508, 2232.52851728, 7314.08427582, 9854.86215508,
       9854.86215508, 9854.86215508, 9854.86215508, 4773.30639655,
       4773.30639655, 4773.30639655, 9854.86215508, 7314.08427582])

In [ ]:
dataku.dropna()

     Umur Ikan Arwana  HargaJual
0                   2       5200
1                   2       5210
2                   2       5220
3                   2       5230
4                   2       5240
..                ...        ...
994                 5      12140
995                 5      12150
996                 5      12160
997                 5      12170
998                 5      12180

[999 rows x 2 columns]

In [ ]:
plt.scatter(dataku.UmurIkanArwana, dataku.HargaJual)
plt.xlabel('Usia Arwana (bulan)')
plt.ylabel('Harga Arwana ($)')
plt.title('Grafik Usia Arwana vs Harga Arwana')
plt.show